<%= stylesheet_link_tag 'index', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="index-recommendations">
  <h1 class="index-title">All Recommendations</h1>
  <%= link_to 'New Recommendation', new_fitting_recommendation_path, class: 'btn btn-create mb-2' %>
  <div class="container">
    <div class="col-xl-8 col-md-10 col-12 index-box">
      <table class="table table-striped" style="border: 1px solid #142d4c; color: #142d4c;">
        <thead>
          <tr>
            <th>Recommendation ID</th>
            <th>Username</th>
            <th>Tipo del producto</th>
            <th># Products</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @fitting_recommendations.each do |fitting_recommendation| %>
            <tr>
              <td><%= fitting_recommendation.id %></td>
              <td><%= fitting_recommendation.user.username %></td>
              <td><%= fitting_recommendation.tipo %></td>
              <td><%= fitting_recommendation.products.count %></td>
              <td>
                <%= link_to "View", fitting_recommendation_path(fitting_recommendation), class: "card-link btn btn-view" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>